@charset "UTF-8";

.foo {
  z-index: 1;
}

@font-face {
  font-family: 'family';
  src: 'family.eot';
}

@font-face {
  font-family: 'family';
  src: 'family.woff';
}

@media (min-width: 999px) {
  .foo {
    z-index: 4;
  }
}

.bar {
  z-index: 2;
}

@media (min-width: 999px) {
  .bar {
    z-index: 5;
  }
}

.baz {
  z-index: 3;
}

@media (min-width: 999px) {
  .baz {
    z-index: 6;
  }
}
